name: test-workflow

on:
  push:
    branches:
      - test



jobs:
    
  build:
    environment: test
    runs-on: ubuntu-latest

    steps:
    - name: Check out the repo
      uses: actions/checkout@v4
    - name: export secrets
      uses: 0ndt/envfile@v2
      with:
        secrets: ${{ toJSON(secrets) }}
        file: .env
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Login to Docker 
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USER }}
        password: ${{ secrets.DOCKERHUB_PASS }}
    - name: Push to Docker Hub
      uses: docker/build-push-action@v6
      with:
        context: .
        push: true
        tags: klinf/catbot:latest
      
  deploy:    
    runs-on: ubuntu-latest
    environment: test
    needs: build
    steps:
      - name: Login to Docker 
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKERHUB_PASS }}
      - name: executing remote ssh commands to deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USER }}
          key: ${{ secrets.SSH_KEY }}
          passphrase: ${{ secrets.SSH_PASS }}
          script: |
            sudo docker compose stop
            sudo docker compose rm web
            sudo docker pull ${{ secrets.DOCKER_USER }}/catbot:latest
            sudo docker compose up

  send_message:
    runs-on: ubuntu-latest
    environment: test
    needs: deploy
    steps:
    - name: send message
      uses: appleboy/telegram-action@master
      with:
        to: ${{ secrets.ADMIN_CHAT }}
        token: ${{ secrets.TOKEN }}
        message: ${{ github.workflow }} успешно выполнен! 
